html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
}

* {
  font-family: kanit;
}

nav {
  position: relative;
  background-color: white;
  border-bottom: 1px solid grey;
  width: 100vw;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
}

.nav-li {
  width: 1.5rem;
  height: 1.2rem;
}

.logo-container {
  margin: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

.links-container > .links {
  list-style-type: none;
  margin: 20px;
}

.logoPriceContainer {
  display: flex;
}

.logoPriceContainer img {
  display: block;
}

.nav-li a {
  text-decoration: none;
  color: #7a6eea;
  font-weight: 500;
}

.dropdownContainer {
  display: flex;
  align-items: flex-start;
  flex-flow: column wrap;
}

.interactionsContainer {
  width: 20%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.transparent {
  background-color: transparent;
  border: 0px solid transparent;
}

.transparent > img {
  display: block;
}

.connectWalletButton {
  align-items: center;
  border: 0px;
  border-radius: 1rem;
  box-shadow: 0px -1px 0px 0px inset;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  padding: 0px remConverter(24px);
  background-color: #1fc7d4;
  color: #ffffff;
  margin-right: 0.5rem;
  box-shadow: #8f80ba 0px -1px 0px 0px inset;
  height: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
}

.connectWalletButton:hover {
  opacity: 70%;
  transition: 0.5s;
}

.interactionsContainer > .tra:hover,
button :hover {
  -webkit-filter: opacity(0.5);
          filter: opacity(0.5);
  transition: 0.5s;
  cursor: pointer;
}

.interactionsContainer > .growing:hover {
  transition: 0.5s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}
