@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "pages/top-card-section.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: Kanit, sans-serif;
    /*@apply text-text box-border;*/
  }
}

@layer utilities {
  #top-card-section #inner-box {
    overflow: inherit;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
