.banner_hero__main_container {
  width: 56%;
  margin: auto auto;
  border-radius: 32px;
  height: 192px;
  background: -webkit-linear-gradient(top, #7645d9 0%, #452a7a 100%);
  border-radius: 32px;
  margin-top: 35px;
}

.left__perpetual_container {
  position: relative;
  top: 35px;
}

.left__lottery_container {
  position: relative;
}

.right__img_container {
  position: absolute;
  top: -25px;
}
.left__img_container {
  position: absolute;
  top: 2px;
  left: 700px;
}

.right_banner_inner_container {
  position: relative;
}
.left_banner_inner_container {
  inset: -37px 0;
  position: relative;
}

.swiper__container input {
  z-index: 1;
  position: sticky;
}

.countdown_container {
  width: 25%;
}
