#CTA-explore_section {
  font-family: "Kanit", "sans";
  width: 100%;
  height: 90vh;
  padding: 48px 0px;
}
#CTA-explore_section h2 {
  font-size: 40px;
  font-weight: 600;
  margin-top: 40px;
  margin-bottom: 40px;
}
#CTA-explore_section h2 span {
  font-size: 40px;
  font-weight: 600;
  color: #7645d9;
}
#CTA-explore_section h3 {
  font-size: 20px;
  font-weight: bolder;
  margin-left: 10%;
}
#CTA-explore_section h3 span {
  font-size: 20px;
  font-weight: 600;
  color: #7645d9;
}
#CTA-explore_section .diagonal-divider {
  margin-top: 2rem;
  background-color: #eaf1f5;
  width: 100%;
  height: 6rem;
  transform: translateY(10px);
  transform: rotate(-1.5deg);
}
#CTA-explore_section .quotazioni {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 10%;
}
#CTA-explore_section .quotazioni:nth-child(1) {
  font-weight: 700;
  font-size: 12px;
  border-left: solid 1px #7a6eaa;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#CTA-explore_section .quotazione {
  font-weight: 700;
  font-size: 12px;
  border-left: solid 1px #7a6eaa;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#CTA-explore_section .quotazione .quotation-percentage {
  font-weight: 1200;
  font-size: 16px;
}
#CTA-explore_section .quotazione .quotation-name {
  font-size: 12px;
  color: #7645d9;
  font-weight: 600;
}
#CTA-explore_section .quotazione .quotation-percentage-type {
  color: #7a6eaa;
}
#CTA-explore_section .quotazione #prima-quotazione {
  border: none;
}
#CTA-explore_section .inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  background-color: #eaf1f5;
  top: -1.5rem;
  width: 100%;
  height: 90vh;
}
#CTA-explore_section .inner-container .picture-container {
  width: 50%;
  padding-bottom: 4.375rem;
  position: absolute;
}
#CTA-explore_section .inner-container .floatEl {
  width: 200px;
  animation: floatting 3s ease-in-out 1s infinite normal none running;
}
@keyframes floatting {
  0% {
    transform: translate(0px);
  }
  50% {
    transform: translate(10px, 5px);
  }
  100% {
    transform: translate(0px);
  }
}
#CTA-explore_section .inner-container .floatEl:nth-child(1) {
  animation-duration: 2.9s;
}
#CTA-explore_section .inner-container .floatEl:nth-child(2) {
  animation-duration: 2.1s;
}
#CTA-explore_section .inner-container .floatEl:nth-child(3) {
  animation-duration: 2.5s;
}
#CTA-explore_section .inner-container p {
  margin-bottom: 2.5rem;
  font-size: 1rem;
  color: #7a6eaa;
  font-weight: bold;
  font-family: inherit;
}
#CTA-explore_section .blue-button {
  align-items: center;
  border: 0px;
  border-radius: 1rem;
  box-shadow: 0px -1px 0px 0px inset;
  cursor: pointer;
  display: inline-flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: 0.03em;
  line-height: 1;
  opacity: 1;
  outline: 0px;
  transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
  height: 3rem;
  padding: 0px 1.5rem;
  background-color: #1fc7d4;
  color: #ffffff;
  margin-right: 0.5rem;
  padding-left: 24px;
  padding-right: 24px;
}
#CTA-explore_section .blue-button:hover {
  opacity: 0.65;
}
#CTA-explore_section .docs-link {
  color: #1fc7d4;
  text-decoration: none;
  font-weight: 900;
}
#CTA-explore_section .docs-link:hover {
  text-decoration: underline;
}
#CTA-explore_section .buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10%;
}
#CTA-explore_section .central-container {
  margin-left: 10%;
  width: 40%;
  display: flex;
  flex-direction: row;
}
