@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom proprieties of tailwind for animation delay */

@layer utilities {
  .animation-delay-33 {
    animation-delay: 0.33s;
  }
  .animation-delay-66 {
    animation-delay: 0.66s;
  }
  .animation-delay-100 {
    animation-delay: 1s;
  }
}

/* button custom class without color  */

@layer components {
  .btn-main {
    @apply rounded-lg hover:opacity-60 text-white font-bold py-2 px-4;
  }
  .btn-transparent {
    @apply rounded-lg font-bold hover:underline decoration-2 py-1 px-4;
  }
}
